<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto">
  <title>KickRestarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.logoNavbar = '<%= image_url('logo-navbar.png') %>'
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
