<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto">
  <title>KickRestarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.logoNavbar = '<%= image_url('logo-navbar-small.png') %>'
    window.placeholder = '<%= image_url('placeholder4.png') %>'
    window.mapMarker = '<%= image_url('marker.png') %>'
  </script>

  <script type="text/javascript">
    <% if logged_in? %>
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    <% end %>
  </script>

  <link rel="shortcut icon" href="../../app/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../app/assets/images/favicon.ico" type="image/x-icon">

</head>
<body>


<%= yield %>

</body>
</html>
